<div class="page-wrapper">
    <div class="row">
        <div class="header-wrapper">
            <dpa-header></dpa-header>
        </div>
    </div>

    <div class="middle-wrapper">
        <div class="menu-wrapper">
            <dpa-side-menu></dpa-side-menu>
        </div>

        <div class="cont-wrapper">
            <div class="content-wrapper">
                <router-outlet></router-outlet>

            </div>
            <div class="footer-wrapper">
                <dpa-footer></dpa-footer>
            </div>
        </div>

    </div>
</div>