.page-wrapper {
}

.header-wrapper {
}

.middle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 80px;
}

.menu-wrapper {
}

.content-wrapper {
  // border: 1px solid gray;
  border-radius: 30px;
  -webkit-box-shadow: -2px 3px 15px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: -2px 3px 15px 0px rgba(189, 189, 189, 1);
  box-shadow: -2px 3px 15px 0px rgba(189, 189, 189, 1);
  padding: 20px;
  background: white;
  min-height: 90vh;
  flex: 1;
  margin: 0 20px;
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
    margin: 0 0;
  }
}

.footer-wrapper {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex: 1;
}

.cont-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
