<div class="login-container">

  <div class="form-wrapper">
    <div class="logo-wrapper">
      <img class="logo" src="assets/logo2.png" alt="">
    </div>

    <form>
      <div class="form-group control">
        <fa-icon [icon]="icons.faUser"></fa-icon>
        <input type="text" class="form-control" placeholder="Username" required="required">
      </div>
      <div class="form-group control">
        <fa-icon [icon]="icons.faLock"></fa-icon>
        <input type="password" class="form-control" placeholder="Password" required="required">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
      </div>
    </form>

  </div>
</div>