.schedule {
  display: block;
  width: 100%;
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &-hours {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-right: 5px;
  }

  &-days {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 0;
  }

  &-hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: gray;
  }

  &-day {
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: 2px;
    height: 900px;

    &-header {
      height: 45px;
      border: 1px solid rgb(204, 204, 204);
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 1px 3px 1px rgb(235, 233, 233);
    }

    &-content {
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: row;
      flex: 1;
      border: 1px solid #e7e7e7;
      border-radius: 4px;
      box-shadow: 0px 1px 3px 1px rgb(235, 233, 233);
      // background: rgb(236, 236, 236);
    }

    &-grid {
      z-index: -99;
      position: absolute;
      width: 100%;
      height: 100px;
      left: 0;
      top: 0;

      &-row {
        border-bottom: 1px solid rgb(233, 233, 233);
        height: 45px;
      }
    }
  }

  &-column {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-right: 1px solid rgb(233, 233, 233);
  }

  &-lesson {
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    background: rgba(30, 153, 181, 0.666);

    text-overflow: ellipsis;
    border-radius: 4px;
    &:hover .ders-adi {
      background: rgba(30, 181, 116, 0.666);
      cursor: pointer;
    }
    &:hover {
      background: rgba(30, 181, 116, 0.666);
      cursor: pointer;
    }
    // box-shadow: 0px 1px 3px 1px rgb(202, 202, 202);
  }
}

.ders {
  // font-weight: 300;
  color: white;
  font-size: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-adi {
    display: flex;
    justify-content: center;
    padding: 1px;
    box-sizing: content-box;
    background: rgb(30, 153, 181);
    min-width: 0; /* or some value */
    p {
      margin: 0;
      padding: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-loc {
    color: black;
    padding: 1px;
    min-width: 0; /* or some value */
    p {
      margin: 0;
      padding: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-ins {
    color: black;
    padding: 1px;
    min-width: 0; /* or some value */
    p {
      margin: 0;
      padding: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-gr-lt {
    display: flex;
    flex-direction: column;
  }

  &-gr,
  &-lt {
    color: black;
    padding: 1px;
    min-width: 0; /* or some value */
    p {
      margin: 0;
      padding: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.filter {
  &-forms {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    margin-bottom: 10px;

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 20px;
      color: black;
      font-weight: 600;
    }
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &-wrapper {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    input {
      width: 60%;
      padding: 3px;
      border: 1px solid rgb(198, 198, 198);
      border-radius: 5px;
    }
    p-dropdown {
      width: 150px;
    }
  }
  &-label {
    margin-right: 10px;
    font-size: 14px;
    color: black;
    font-weight: 600;
  }
}

.ders-detay {
  display: flex;
  flex-direction: column;
  &-item {
    margin: 5px;
    display: flex;
    flex-direction: row;

    &-label {
      color: black;
      font-weight: 600;
      min-width: 30%;
    }

    &-content {
      margin-left: 5px;
      flex: 1;
    }
  }
  &-header {
    margin: 5px;
    color: black;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    font-size: 17px;
  }
}

.option {
  &s {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    &-header {
      margin: 5px;
      color: black;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      font-size: 17px;
    }
  }
}

.dialog-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.day-max {
  width: 100%;
}

.flCol {
}

.flRow {
  flex-direction: row;
}
