<ng-container *ngIf="loading === true; else second">
    <div class="prgrs">
      <p-progressSpinner [style]="{width: '200px', height: '200px'}" strokeWidth="2" 
        animationDuration="3s">
      </p-progressSpinner>
    </div>
  
  </ng-container>
  <ng-template #second>
<div class="wrpr-br">
  <p-breadcrumb [model]="items" [style]="{border:0, background:'transparent'}"></p-breadcrumb>
</div>
<br>
<p-table [columns]="cols" [value]="faculties" selectionMode="single" [(selection)]="selectedFaculty"
  (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    Sakarya Üniversitesi Fakülteleri
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" colspan="col.colspan"
        [ngStyle]="{'width': col.width}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </ng-template>
</p-table>
<form [formGroup]="mform" (ngSubmit)="save(mform.value)">
  <p-dialog header="Fakülte Detay" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '400px'}">
    <div class="ui-g ui-fluid" *ngIf="faculty">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="facultyCode">Fakülte Kodu</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="facultyCode" formControlName="facultyCode" [(ngModel)]="faculty.facultyCode" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="title">Fakülte Adı</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="title" formControlName="title" [(ngModel)]="faculty.title" />
        </div>
      </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton (click)="goToDepartments()" label="Bölümler"></button>
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
        <button pButton type="submit" label="Save" [disabled]="!mform.valid"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>
  </ng-template>