<div class="sidebar" [@sideMenuAnime]='menuState'>

  <div class="logobar-wrapper">
    <div class="logobar">
      <span [@minilogoAnime]='menuState'>NEVZAT</span>
    </div>
  </div>

  <div class="avatar-wrapper" [@avatarAnime]='menuState'>
    <div class="avatar" [style.background-image]="'url(' +'assets/profilepicture.png' + ')'">
    </div>
  </div>


  <div class="menu-actions">

    <div class="menu-action" [routerLink]="['/pages/schedule']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faHome"></fa-icon>
      </div>
      <div class="content">
        Schedule
      </div>
    </div>

    <div class="menu-action" [routerLink]="['/pages/faculties']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faHome"></fa-icon>
      </div>
      <div class="content">
        Faculties
      </div>
    </div>

    <div class="menu-action" [routerLink]="['/pages/constraints']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faProjectDiagram"></fa-icon>
      </div>
      <div class="content">
        Constraints
      </div>
    </div>
    <div class="menu-action" [routerLink]="['/pages/lessons']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faCalendarAlt"></fa-icon>
      </div>
      <a class="content">
        Lessons
      </a>
    </div>
    <div class="menu-action" [routerLink]="['/pages/instructors']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faUndoAlt"></fa-icon>
      </div>
      <a class="content">
        Instructors
      </a>
    </div>
    <div class="menu-action" [routerLink]="['/pages/locations']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faUndoAlt"></fa-icon>
      </div>
      <a class="content">
        Locations
      </a>
    </div>
    <div class="menu-action" [routerLink]="['/pages/reports']" routerLinkActive="active">
      <div class="logo">
        <fa-icon [icon]="icons.faUsers"></fa-icon>
      </div>
      <a class="content">
        Reports
      </a>
    </div>

  </div>
</div>

<div class="sidebar-holder" [@sideMenuAnime]='menuState'>
</div>