<div class="wrpr-br">
  <p-breadcrumb [model]="brItems" [style]="{border:0, background:'transparent'}"></p-breadcrumb>
</div>
<br>
  <p-table #dt [columns]="cols" [value]="items" selectionMode="single" [(selection)]="selectedItem"
    (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
      Sakarya Üniversitesi Derslikler
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" colspan="col.colspan"
          [ngStyle]="{'width': col.width}">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'title'" pInputText type="text"
            (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [style]="{'width':'100%'}">
          <p-dropdown *ngSwitchCase="'facultyId'" [options]="filters.faculties" [style]="{'width':'100%'}"
            (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>




<p-dialog header="Derslik Detay" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [width]="350"
  [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="item">
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b class="first">Derslik Adı</b>
        <input type="text" pInputText placeholder="Derslik Adını Giriniz" [(ngModel)]="item.title">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b class="first">Fakülte</b>
        <input type="text" pInputText placeholder="Fakülte Adını Giriniz" [(ngModel)]="item.facultyId">
      </div>
    </div>

  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"
        class="ui-button-secondary"></button>
    </div>
  </p-footer>
</p-dialog>