<div class="wrpr-br">
  <p-breadcrumb [model]="items" [style]="{border:0, background:'transparent'}"></p-breadcrumb>
</div>
<br>
<p-table [columns]="cols" [value]="constraints" selectionMode="single" [(selection)]="selectedConstraint"
  (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    Kısıtlar
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" colspan="col.colspan"
        [ngStyle]="{'width': col.width}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.field === 'educationType';else second">
          {{ educationTypesTableView[educationTypes[rowData[col.field]]] }}
        </ng-container>
        <ng-template #second>
          {{rowData[col.field]}}
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add" *ngIf="canAdd"></button>
    </div>
  </ng-template>
</p-table>


<form [formGroup]="mform" (ngSubmit)="save(mform.value)">
  <p-dialog header="Kısıt Detay" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [contentStyle]="{'overflow':'visible'}" [style]="{width: '400px'}">
    <div class="ui-g ui-fluid" *ngIf="constraint">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="title">Kısıt Adı</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="title" formControlName="title" [(ngModel)]="constraint.title" />
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="weeklyHour">Haftalık Saat</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="dropdownOptions.weeklyHourOptions" formControlName="weeklyHour"
            [style]="{'width': '100%'}" placeholder="Seçiniz" filter="true" optionLabel="label" [showClear]="true"
            [(ngModel)]="selectedOptions.weeklyHourOptions" (onChange)="constraint.weeklyHour = $event.value.value">
          </p-dropdown>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="educationType">Öğrenim Türü</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="dropdownOptions.educationTypeOptions" formControlName="educationType"
            [style]="{'width': '100%'}" placeholder="Seçiniz" filter="true" optionLabel="label" [showClear]="true"
            [(ngModel)]="selectedOptions.educationTypeOptions" (onChange)="constraint.educationType = $event.value.value">
          </p-dropdown>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="startTime">Başlangıç Saati</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="dropdownOptions.saatOptions" formControlName="startTime" [style]="{'width': '100%'}"
            placeholder="Seçiniz" filter="true" optionLabel="label" [showClear]="true"
            [(ngModel)]="selectedOptions.startTimeOptions" (onChange)="constraint.startTime = $event.value.value"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="endTime">Bitiş Saati</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="dropdownOptions.saatOptions" formControlName="endTime" [style]="{'width': '100%'}"
            placeholder="Seçiniz" filter="true" optionLabel="label" [showClear]="true"
            [(ngModel)]="selectedOptions.endTimeOptions" (onChange)="constraint.endTime = $event.value.value"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="description">Açıklama</label>
        </div>
        <div class="ui-g-8">
          <input rows="2" cols="30" placeholder="Açıklama" pInputTextarea id="description" formControlName="description"
            [(ngModel)]="constraint.description" />
        </div>
      </div>


      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="isFreeDay">Bir Gün Boş Olsun</label>
        </div>
        <div class="ui-g-8">
          <p-inputSwitch [(ngModel)]="checkboxes.isFreeDay" formControlName="isFreeDay" (onChange)="constraint.isFreeDay = checkboxes.isFreeDay">
          </p-inputSwitch>

        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="fa fa-close" (click)="inspect()" label="inspect"></button>
        <button pButton type="submit" label="Save" [disabled]="!mform.valid"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>