<div class="wrpr-br">
  <p-breadcrumb [model]="items" [style]="{border:0, background:'transparent'}"></p-breadcrumb>
</div>
<br>
<p-table [columns]="cols" [value]="constraints" selectionMode="single" [(selection)]="selectedConstraint"
  (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    Kısıtlar
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" colspan="col.colspan"
        [ngStyle]="{'width': col.width}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.field === 'educationType';else second">
          {{ educationTypesTableView[educationTypes[rowData[col.field]]] }}
        </ng-container>
        <ng-template #second>
          {{rowData[col.field]}}
        </ng-template>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add" *ngIf="canAdd"></button>
    </div>
  </ng-template>
</p-table>


<p-dialog header="Kısıt Oluştur" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [width]="350"
  [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="constraint">
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b class="first">Kısıt Adı</b>
        <input type="text" pInputText placeholder="Kısıt Adını Giriniz" [(ngModel)]="constraint.title">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b>Haftalık Saat</b>
        <div class="ui-grid-row">
          <p-dropdown [options]="dropdownOptions.weeklyHourOptions" [style]="{'width': '145px'}" placeholder="Seçiniz"
            optionLabel="name" [showClear]="true" [(ngModel)]="selectedOptions.weeklyHourOptions"
            (onChange)="constraint.weeklyHour = $event.value.code"></p-dropdown>
        </div>
      </div>
    </div>
    <!-- <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b>Öğretim Türü</b>
        <p-selectButton [options]="types" [(ngModel)]="selectedTypes"></p-selectButton>
      </div>
    </div> -->
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b>Öğrenim Türü</b>
        <div class="ui-grid-row">
          <p-dropdown [options]="dropdownOptions.educationTypeOptions" [style]="{'width': '145px'}"
            placeholder="Seçiniz" optionLabel="name" [showClear]="true"
            [(ngModel)]="selectedOptions.educationTypeOptions"
            (onChange)="constraint.educationType = $event.value.code"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b>Başlangıç Saati</b>
        <div class="ui-grid-row">
          <p-dropdown [options]="dropdownOptions.saatOptions" [style]="{'width': '145px'}" placeholder="Seçiniz"
            optionLabel="label" [showClear]="true" [(ngModel)]="selectedOptions.startTimeOptions"
            (onChange)="constraint.startTime = $event.value"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b>Bitiş Saati</b>
        <div class="ui-grid-row">
          <p-dropdown [options]="dropdownOptions.saatOptions" [style]="{'width': '145px'}" placeholder="Seçiniz"
            optionLabel="label" [showClear]="true" [(ngModel)]="selectedOptions.endTimeOptions"
            (onChange)="constraint.endTime = $event.value"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="form-group ui-grid-col-12">
        <b>Açıklama</b>
        <textarea [(ngModel)]="constraint.description" rows="2" cols="30" placeholder="Açıklama"
          pInputTextarea></textarea>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-10">
        <b> Haftada 1 gün boş olsun.</b>
      </div>
      <div class="ui-grid-col-2">
        <p-inputSwitch [(ngModel)]="checkboxes.isFreeDay" (onChange)="constraint.isFreeDay = checkboxes.isFreeDay">
        </p-inputSwitch>
      </div>
    </div>

    <!-- <div class="ui-grid-row">
      <div class="ui-grid-col-10">
        <b>IsActive</b>
      </div>
      <div class="ui-grid-col-2">
        <p-inputSwitch [(ngModel)]="checkboxes.isActive" (onChange)="constraint.isActive = checkboxes.isActive">
        </p-inputSwitch>
      </div>
    </div> -->
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"
        class="ui-button-secondary"></button>
    </div>
  </p-footer>
</p-dialog>