::ng-deep body .ui-table .ui-table-tbody > tr:nth-child(even){
    background-color: #ffffff;
    border:0;
}

::ng-deep body .ui-table .ui-table-summary{
    background-color: #ffffff;
    border:0;
}

// ::ng-deep body .ui-table .ui-table-caption{
//     background-color: #ffffff;
//     border:0;
// }

::ng-deep body .ui-paginator{
    background-color: #ffffff;
    border:0;
}

